.touchImage {
    height: 170px;
    margin-left: 10vw;
    margin-top: -1vh;
}

.getInTouch {
    text-align: center;
    font-size: 30px;
    color: rgb(212, 140, 176);
    font-weight: 700;
    margin-top: 12vh;
}

.touchPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
    width: 26vw;
    height: 38px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
    background-color: rgba(202, 165, 165, 0.795);
    font-weight: 600;
    border: none;
    font-size: 14px;
}

.textarea {
    border-radius: 35px;
    background-color: rgba(202, 165, 165, 0.795);
    border: none;
    padding: 10px 20px;
    color: black;
    font-weight: 600;
    font-size: 14px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.send {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 8vh;
    margin-top: 4vh;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.send:hover {
    transform: scaleX(1.2);
    -webkit-transform: scaleX(1.2);
    -moz-transform: scaleX(1.2);
    -ms-transform: scaleX(1.2);
    -o-transform: scaleX(1.2);
}

.inlineFormImage {
    margin-left: 4vw;
    width: 62vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2vh;
    margin-top: 6vh;
}

.inputLabel {
    margin-top: 2.8vh;
    margin-left: 1vw;
    font-weight: 600;
}

.contactIcons {
    width: 22vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
    margin-top: 2vh;
    cursor: pointer;
}

@media (max-width: 600px) {
    .inlineFormImage {
        margin-left: 0vw;
        width: 82vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2vh;
        margin-top: 6vh;
    }
    .touchImage {
        height: 160px;
        margin-left: 0vw;
        margin-top: 20vh;
    }
    .lol {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .send {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        text-decoration: underline;
        margin-bottom: 8vh;
        margin-top: -36vh;
        cursor: pointer;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    .contactIcons {
        width: 72vw;
        display: flex;
        justify-content: space-between;
        margin-bottom: 4vh;
        margin-top: 28vh;
        margin-bottom: 6vh;
        cursor: pointer;
    }
    .textarea {
        font-size: 16px;
        width: 82vw;
    }
    .inputLabel {
        margin-top: 1.5vh;
        margin-left: 4vw;
        font-weight: 600;
        font-size: 18px;
    }
    .input {
        width: 82vw;
        height: 40px;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
        padding-left: 25px;
        padding-right: 25px;
        color: black;
        background-color: rgba(202, 165, 165, 0.795);
        font-weight: 600;
        border: none;
        font-size: 14px;
    }
}