.iconMenu {
    border-radius: 50%;
    border: 1px solid white;
    width: fit-content;
    padding: 8px;
    background-color: rgb(49, 4, 27);
    margin: 12px 8px;
    cursor: pointer;
    color: black;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.iconMenu:hover {
    transform: scale(1.12);
    background-color: rgb(240, 135, 187);
    -webkit-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -ms-transform: scale(1.12);
    -o-transform: scale(1.12);
}

.menu {
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: fixed;
    top: 180px;
    left: 40px;
    background-color: rgb(19, 1, 9);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}