.projectsTitle {
    font-size: 30px;
    font-weight: 700;
    margin-top: 18vh;
    margin-bottom: 7vh;
    color: rgb(212, 140, 176);
    text-align: center;
}

.projectBoxRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58vw;
    margin-left: 10vw;
    margin-top: 20vh;
}

.projectBoxLeft {
    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58vw;
    margin-left: 6vw;
    margin-top: 20vh;
}

.projectImage {
    height: 50vh;
    width: 28vw;
    border-radius: 6px;
    cursor: pointer;
}

.projectImageV {
    height: 85vh;
    width: 20vw;
    border-radius: 6px;
    cursor: pointer;
}

.projectImageVH {
    height: 45vh;
    width: 100vw;
    border-radius: 6px;
    cursor: pointer;
}

.projectImage:hover {
    background-color: none;
    opacity: 1;
}

.projectdetailsRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.projectdetailsLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.projecTitleRight {
    font-weight: 800;
    font-size: 20px;
    color: white;
    padding-right: 4vw;
}

.projecTitleLeft {
    font-weight: 800;
    font-size: 20px;
    color: white;
    padding-left: 4vw;
}

.projectDescRight {
    position: relative;
    right: 3.5vw;
    padding: 20px 24px;
    margin-top: 20px;
    background-color: rgb(27, 35, 51);
    color: whitesmoke;
    z-index: 5;
    border-radius: 6px;
    height: fit-content;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.projectDescLeft {
    position: relative;
    left: 3.5vw;
    padding: 20px 24px;
    margin-top: 20px;
    background-color: rgb(27, 35, 51);
    color: whitesmoke;
    z-index: 5;
    border-radius: 6px;
    height: fit-content;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.technologiesRight {
    margin-top: 3vh;
    color: rgb(219, 206, 206);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-right: 1.5vw;
    /*  justify-content: space-between; */
    align-items: center;
    font-size: 14px;
}

.technologiesLeft {
    margin-top: 3vh;
    color: rgb(219, 206, 206);
    margin-left: 4.5vw;
    /*  justify-content: space-between; */
    align-items: center;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.technologiesRight5 {
    margin-top: 3vh;
    color: rgb(219, 206, 206);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    margin-right: 3.5vw;
    /*  justify-content: space-between; */
    align-items: center;
    font-size: 14px;
}

.technologiesLeft5 {
    margin-top: 3vh;
    color: rgb(219, 206, 206);
    margin-left: 4.5vw;
    /*  justify-content: space-between; */
    align-items: center;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.more {
    position: relative;
    left: 30px;
    font-size: 19px;
    font-weight: 600;
    margin-top: 16px;
}

@media (max-width: 700px) {
    .projectBoxRight {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-left: 5%;
        margin-top: 15vh;
    }
    .projectBoxLeft {
        flex-direction: column-reverse;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-left: 5%;
        margin-top: 15vh;
    }
    .technologiesRight,
    .technologiesRight5 {
        margin-top: 2vh;
        color: rgb(219, 206, 206);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0px;
        /*  justify-content: space-between; */
        align-items: center;
        font-size: 13px;
    }
    .technologiesLeft,
    .technologiesLeft5 {
        margin-top: 2vh;
        color: rgb(219, 206, 206);
        ;
        /*  justify-content: space-between; */
        align-items: center;
        font-size: 13px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0px;
    }
    .tech {
        margin: 0px 8px;
    }
    .projectImage {
        height: 35vh;
        width: 99%;
        background-color: transparent;
        opacity: 1;
        margin: 20px 0%;
        border-radius: 6px;
        cursor: pointer;
    }
    .projectImageVH {
        height: 26vh;
        width: 99%;
        background-color: transparent;
        opacity: 1;
        margin: 20px 0%;
        border-radius: 6px;
        cursor: pointer;
    }
    .projectImageV {
        height: 60vh;
        width: 70%;
        background-color: transparent;
        opacity: 1;
        margin: 20px 0%;
        border-radius: 6px;
        cursor: pointer;
    }
    .projectdetailsLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .projectdetailsRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .projectDescRight {
        position: relative;
        right: auto;
        padding: 20px 24px;
        margin-top: 20px;
        background-color: rgb(27, 35, 51);
        color: whitesmoke;
        z-index: 5;
        border-radius: 6px;
        height: fit-content;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }
    .projectDescLeft {
        position: relative;
        left: auto;
        padding: 20px 24px;
        margin-top: 20px;
        background-color: rgb(27, 35, 51);
        color: whitesmoke;
        z-index: 5;
        border-radius: 6px;
        height: fit-content;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }
    .projecTitleRight {
        font-weight: 800;
        font-size: 22px;
        color: white;
        padding-right: 0vw;
    }
    .projecTitleLeft {
        font-weight: 800;
        font-size: 22px;
        color: white;
        padding-left: 0vw;
    }
    .projectsTitle {
        font-size: 26px;
        font-weight: 700;
        margin-top: 18vh;
        margin-bottom: 7vh;
        color: rgb(212, 140, 176);
        text-align: center;
    }
}