.rotatedScroll {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    bottom: 6vh;
    right: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.line {
    height: 4vh;
    border: 1px solid white;
    width: 2px;
}

.scroll {
    margin: 10px 0px;
}

@media (max-width: 700px) {
    .rotatedScroll {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        position: relative;
        display: flex;
        width: fit-content;
        right: 0vw;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-bottom: -4vh;
    }
}