.serviceCenter {
    margin-top: 28vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2vw;
}

.titleServices {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 12vh;
    text-align: center;
    /*  color: #797251; */
    color: rgb(212, 140, 176);
    text-overflow: ellipsis;
    /*    background-color: rgb(9, 1, 36); */
}

.servicesGrid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20vh;
}

.serviceBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    box-shadow: 10px 5px 25px rgb(56, 37, 46);
    height: 240px;
    margin: 0px 16px;
    background-color: rgba(8, 0, 7, 0.233);
    width: 200px;
    padding: 24px 16px;
    font-size: 18px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.serviceBox:hover {
    background-color: rgba(19, 1, 9, 0.623);
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
}

.boxServiceTitle {
    margin-top: 10px;
}

.icon {
    border-radius: 50%;
    background-color: rgba(160, 89, 121, 0.233);
    height: 50px;
    width: 50px;
    width: 70px;
    height: 70px;
    padding: 1px;
}