.skillsBar {
    width: 38vw;
}

.skillsImage {
    height: 50vh;
    margin-right: 6vw;
    margin-top: -2vh;
}

.mySkills {
    display: flex;
    justify-content: space-around;
    margin-top: -4vh;
}

.skillType {
    font-weight: 600;
    font-size: 20px;
    padding: 16px;
    margin-bottom: 6vh;
    margin-top: 5vh;
    /*     animation: transilatex 0.5s forwards ease-out;
    -webkit-transition: 0.5;
    -moz-transition: 0.5;
    -ms-transition: 0.5;
    -o-transition: 0.5;
    -webkit-transform: translate(-10vw);
    -moz-transform: translate(-10vw);
    -ms-transform: translate(-10vw);
    -o-transform: translate(-10vw);
    -webkit-animation: transilatex 1s forwards ease-out; */
}


/* 
@keyframes transilatex {
    from {
        transform: translateX(-20vw);
        opacity: 0;
        -webkit-transform: translateX(-20vw);
        -moz-transform: translateX(-20vw);
        -ms-transform: translateX(-20vw);
        -o-transform: translateX(-20vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}
 */

.skillsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.makeCol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.typesSlider {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: -5vh;
    margin-bottom: 5vh;
}

.codeSkills {
    font-size: 28px;
    font-weight: 700;
    margin-top: 14vh;
    margin-bottom: 12vh;
    color: rgb(212, 140, 176);
    text-align: center;
}

.rocket {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-bottom: 2vh;
    margin-top: 10vh;
}

@media (max-width: 600px) {
    .makeCol {
        flex-direction: column-reverse;
        width: 99%;
    }
    .skillType {
        font-size: 18px;
        margin: 0px -16px 2px -16px;
    }
    .typesSlider {
        margin-bottom: 6vh;
        margin-top: -10vh;
    }
    .mySkills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -10vh;
        margin-left: 0vw;
        width: 100%;
    }
    .skillsImage {
        height: 25vh;
        width: 50vw;
        margin-right: 2vw;
        margin-top: 2vh;
    }
    .skillsBar {
        width: 80%;
        margin-bottom: 2vh;
    }
}